
<!-- Burger Section Header -->
<div class="bg-info text-center" style="padding: 5px">
  <h3>
    Choose a burger to eat in the right-hand column, or create your own!
  </h3>
  <p>
    NOTE: If you would like to order more of a burger that was already eaten,
    just click on the "Order More" button!
  </p>
</div>  

<div class="row" style="padding: 5px 0">
  <div class="col-xs-6 col-xs-offset-3">
    <!-- Form for adding burgers -->
    <form class="form-inline" id="add-form">
      <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger-name" name="burger_name" class="form-control">
      </div>
      <button class="btn btn-primary" type="submit">Add Burger!</button>
    </form>
  </div>    
</div>

<!-- Burger Content -->
<div class="row">
  <div class="col-xs-6">
    <h3 class="text-center">Already Eaten!</h3>
    {{#each eatenBurgers}}
      <div class="burger-div">
        <button class="btn btn-success order-more" value="{{this.burger_name}}">Order More!</button>
        <span class="burger-content">{{this.burger_name}}</span>
      </div>        
    {{/each}}
  </div>

  <div class="col-xs-6">
    <h3 class="text-center">Ready to be Eaten!</h3>
    {{#each readyBurgers}}
      <div class="burger-div">
        <button class="btn btn-warning eat" value="{{this.burger_name}}">Eat!</button>
        <span class="burger-content">{{this.burger_name}}</span>
      </div>        
    {{/each}}
  </div>
</div>


  
